.dub
docs.json
__dummy.html
docs/
disgaeareporter.so
disgaeareporter.dylib
disgaeareporter.dll
disgaeareporter.a
disgaeareporter.lib
disgaeareporter-test-*
*.exe
*.o
*.obj
*.lst
raw*.txt
*.lib
dub.selections.json
.vs